<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Expenses</title>
    <style>
      :root {
        --primary: #605DFF;
        --primary-dark: #4a00e0;
        --primary-light: #5DA8FF;
        --secondary: #1D1D1D;
        --social-background: #E9E9E9;
        --social-background-hover: #dddddd;
        --text: #1F2346;
        --white: #FFFFFF;
        --violet: #8e2de2;
    }
    body{
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      
        background-color: #c1e8ff;
    }
    h1, h2 {
      text-align: center;
    }
        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }
        
        th, td {
          text-align: left;
          padding: 16px;
        }
        th{
          background-color: #021024;
          color: aliceblue;
        }
        
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
        </style>
</head>
<body>
    
    <h1>Your  Expenses</h1>
<h2>View, Edit and Delete Expenses</h2>

<table border="1">
  <thead>
      <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Description</th>
      </tr>
  </thead>
  <tbody>
      <% if (expenses.length > 0) { %>
          <% expenses.forEach(expense => { %>
          <tr>
              <td><%= expense.id %></td>
              <td><%= new Date(expense.date).toDateString() %></td>
              <td><%= expense.amount %></td>
              <td><%= expense.description %></td>
          </tr>
          <% }); %>
      <% } else { %>
          <tr>
              <td colspan="4">No expenses found for this user, Please Add your Expenses.</td>
          </tr>
      <% } %>
  </tbody>
</table>



</body>
</html>